body{
    margin: 0;
    padding: 0;

    height: 100%;
}

.container-descricao{
    display: flex;
}

.container-imagem{
    
    display: grid;
}

header{
    background-color: rgb(166, 169, 173);
    height: 100px;;
}

html{
    height: 100%;
}

footer{
    background-color: aliceblue;

    height: 100px;
    width: 100%;


}

main{
    position: relative;
}